
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>web.config</th>
            <td>@ViewBag.WebConfig</td>
        </tr>
        <tr>
            <th>appsettings.json</th>
            <td>@ViewBag.AppSettings</td>
        </tr>
    </table>
</body>
</html>
